{{!< default}}
<main>
  <article class="{{post_class}}">
    {{#post}}
    <header>
      {{#if tags}}<h5>Posted in {{tags}}</h5>{{/if}}
      <h1>{{{title}}}</h1>
      <h5>
        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
      </h5>
    </header>
    <section>
      {{content}}
    </section>
    {{/post}}
    <!-- Add disqus comments here -->
    </article>
</main>